{{ define "nav" }}
      <div class="text-center">
        <div class="inline-block text-4xl py-2 border-b-2">Federico Marani</div>
        <div class="pb-5 pt-2 font-light">
          <a class="text-lg p-3" href="/articles">
            Articles 
          </a>
          <a class="text-lg p-3" href="/til">
            Today I Learnt
          </a>
          <a class="text-xs p-3" href="http://github.com/fmarani" target="_blank" rel="me"><i class="fa fa-github fa-2x"></i></a>
          <a class="text-xs p-3" href="http://uk.linkedin.com/in/federicomarani" target="_blank" rel="me"><i class="fa fa-linkedin fa-2x"></i></a>
          <a class="text-xs p-3" href="http://twitter.com/flagZ" target="_blank" rel="me"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
      </div>
{{ end }}

{{ define "main" }}
  {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections ) 10 }}

  <div class="pages divide-y">
  {{ range $pag.Pages }}
    {{ .Render "li" }}
  {{ end }}
  </div>

  {{ partial "pagination.html" $pag }}
{{ end }}
