{{ define "nav" }}
      <div class="text-right p-1">
          <span class="text-lg p-3" href="/til">
            Today I Learnt
          </span>
          <a class="text-lg p-3 border-l-2" href="/">
            FM
          </a>
      </div>
{{ end }}

{{ define "title" }}
  TIL {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="max-w-[70%]">
  <article class="py-2 prose">
    On <time datetime="{{ .Date }}" pubdate="{{ .Date }}">{{ .Date | time.Format ":date_long" }}</time>, I learnt ...
    <div class="text-green-700 text-2xl font-bold not-prose">{{ .Title }}</div>

    {{ .Content }}
  </article>

  <div class="text-slate-400 py-9">
    {{ $tag_pages := .GetTerms "tags" }}

    {{ range $tag_pages }}
    {{ $related_tag_pages := where .Pages "Title" "!=" $.Title }}
    {{ if $related_tag_pages }}
    <p>Other things learnt about <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>:</p>
    <ul class="py-3 list-disc list-inside">
      {{ range $related_tag_pages }}
      <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    {{ end }}
  </div>
</div>

{{ end }}
