<div class="py-5">
  <div class="flex">
    <div class="grow">
      <a class="text-green-800 text-xl" href='{{ .Permalink }}'>{{ .Title }}</a>
    </div>
    <div class="text-slate-800">
      <time datetime="{{ .Date }}" pubdate="{{ .Date }}">{{ .Date | time.Format ":date_long" }}</time>
    </div>
  </div>
  <div class="flex mt-2">
    <div class="grow">
      {{ .Description }}
    </div>
    <div class="px-1">
      {{ range .Params.tags }}
      <a class="bg-green-100 text-slate-800 p-1 rounded text-sm" href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
  </div>
</div>
