{{ partial "header.html" . }}
{{ partial "sidebar-content.html" . }}

<article>
    <div class="post-stamp">
        {{ .Date.Format .Site.Params.DateFormat }}
        <span class="taglist">&middot;
            {{ range $index, $element := .Params.tags }}{{ $element }} {{ end }}
        </span>
    </div>
	<h1 class="post-title">{{.Title}}</h1>
        <div class="blogpost-old" style="display: none">
            This post is quite old... Technologies and techniques described here might not apply anymore.
        </div>
	{{.Content}}
</article>  
<p>
<a href="https://news.ycombinator.com/submit" class="hn-button">Vote on Hacker News</a>
</p>
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>

<script type="text/javascript" charset="utf-8">
var cutoffTime = new Date().getTime() - (2 * 365 * 24 * 60 * 60 * 1000);
var postTime = new Date({{ .Date }}).getTime();
if (postTime < cutoffTime) {
    $(".blogpost-old").show();
}
</script>

{{ partial "footer.html" . }}
