<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        {{ partial "header.html" . }}
    </head>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-6">
            {{ partial "sidebar.html" . }}
        </div>
        <div class="content pure-u-1 pure-u-md-5-6">
            <div class="article singlepage" id="{{ .Slug }}" class="{{ .Type }}">
                <div class="post-stamp">
                    <h1 class="post-title">{{ .Title }}</h1>
                    <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}{{ if not .Site.Params.hideReadingTime }} &middot; {{ .ReadingTime }} minute read{{ end }}</span>
                    {{ if isset .Params "categories" }}
                        <span class="taglist">
                            {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
                        </span>
                    {{ end }}

                    <span class="taglist">
                    {{if .Params.tags }}
                        &middot;
                        {{ range $index, $tag := .Params.tags }}
                            <a href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a>
                        {{ end }}
                    {{ end }}
                    </span>
                </div>
        <div id="blogpost-old" style="display: none">
            This post is quite old... Technologies and techniques described here might not apply anymore.
        </div>
                {{ .Content }}
<p>
<a href="https://news.ycombinator.com/submit" class="hn-button">Vote on Hacker News</a>
</p>
                {{ if .Site.Params.share }}
                    {{ if ne .Site.Params.share "none" }}
                        {{ partial "share.html" . }}
                    {{ end }}
                {{ end }}
                {{ partial "comments.html" . }}
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>

<script type="text/javascript" charset="utf-8">
var cutoffTime = new Date().getTime() - (2 * 365 * 24 * 60 * 60 * 1000);
var postTime = new Date({{ .Date }}).getTime();
if (postTime < cutoffTime) {
    document.getElementById("blogpost-old").style.display = "block";
}
</script>

                {{ partial "footer.html" . }}
            </div>
        </div>
    </body>
</html>

