{{ partial "header.html" . }}
{{ partial "sidebar-content.html" . }}

<article>
    <div class="post-stamp">
        {{ .Date.Format .Site.Params.DateFormat }}
        <span class="taglist">&middot;
            {{ range $index, $element := .Params.tags }}{{ $element }} {{ end }}
        </span>
    </div>
	<h1 class="post-title">{{.Title}}</h1>
        <div class="blogpost-old" style="display: none">
            This post is quite old... Technologies and techniques described here might not apply anymore.
        </div>
	{{.Content}}
     <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'flagzeta'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</article>  
<script type="text/javascript" charset="utf-8">
var cutoffTime = new Date().getTime() - (2 * 365 * 24 * 60 * 60 * 1000);
var postTime = new Date({{ .Date }}).getTime();
if (postTime < cutoffTime) {
    $(".blogpost-old").show();
}
</script>

{{ partial "footer.html" . }}
